*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background: #7f8083;
  width: 100%;
  height: 100%;
  
}

.box{
  position: absolute;
  top: 50%;
  left: 40%;
  display: flex;
  justify-content: space-around;
}


.item{
  background: green !important;
  width: 200px;
  height: 20px;
  clip-path: polygon(28% 0%, 66% 21%, 100% 0%, 100% 75%, 68% 93%, 26% 78%, 0 90%, 0 30%);
  margin-bottom: -9px;
 }

 button{
   padding: 10px 24px;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 0 10px;
 }
